{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for blog in blog_list %}
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{ blog.get_absolute_url }}"><img src="{{ blog.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
<!--                    <div class="date meta-last">20 May | 2016</div>-->
                    {% for cat in blog.categories.all %}
                    <div class="category"><a href="#">{{ cat }}</a></div>
                    {% endfor %}
                  </div><a href="{{ blog.get_absolute_url }}">
                    <h3 class="h4">{{ blog.title }}</h3></a>
                  <p class="text-muted">{{ blog.overview }}</p>
                  <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{ blog.author.profile_pic.url }}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{ blog.author.user.username }}</span></div></a>
                    <div class="date"><i class="icon-clock"></i> {{ blog.timestamp|timesince }} ago</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ blog.comment_count }}</div>
                  </footer>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if blog_list.has_previous %}
                <li class="page-item"><a href="?{{ page_request_variable }}={{ blog_list.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="#" class="page-link active">{{ blog_list.number }}</a></li>

                {% if blog_list.has_next %}
                <li class="page-item"><a href="?{{ page_request_variable }}={{ blog_list.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="{% url 'search' %}" class="search-form">
              <div class="form-group">
                <input type="text" name="q" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>

          <!-- Widget [Latest Posts Widget]        -->
<!--          <div class="widget latest-posts">-->
<!--            <header>-->
<!--              <h3 class="h6">Latest Posts</h3>-->
<!--            </header>-->
<!--            <div class="blog-posts"><a href="#">-->
<!--                <div class="item d-flex align-items-center">-->
<!--                  <div class="image"><img src="../static/img/small-thumbnail-1.jpg" alt="..." class="img-fluid"></div>-->
<!--                  <div class="title"><strong>Alberto Savoia Can Teach You About</strong>-->
<!--                    <div class="d-flex align-items-center">-->
<!--                      <div class="views"><i class="icon-eye"></i> 500</div>-->
<!--                      <div class="comments"><i class="icon-comment"></i>12</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div></a><a href="#">-->
<!--                <div class="item d-flex align-items-center">-->
<!--                  <div class="image"><img src="../static/img/small-thumbnail-2.jpg" alt="..." class="img-fluid"></div>-->
<!--                  <div class="title"><strong>Alberto Savoia Can Teach You About</strong>-->
<!--                    <div class="d-flex align-items-center">-->
<!--                      <div class="views"><i class="icon-eye"></i> 500</div>-->
<!--                      <div class="comments"><i class="icon-comment"></i>12</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div></a><a href="#">-->
<!--                <div class="item d-flex align-items-center">-->
<!--                  <div class="image"><img src="../static/img/small-thumbnail-3.jpg" alt="..." class="img-fluid"></div>-->
<!--                  <div class="title"><strong>Alberto Savoia Can Teach You About</strong>-->
<!--                    <div class="d-flex align-items-center">-->
<!--                      <div class="views"><i class="icon-eye"></i> 500</div>-->
<!--                      <div class="comments"><i class="icon-comment"></i>12</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div></a></div>-->
<!--          </div>-->
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for cat in category_count %}
            <div class="item d-flex justify-content-between"><a href="#">{{ cat.categories__title }}</a><span>{{ cat.categories__count }}</span></div>

            {% endfor %}
          </div>
          <!-- Widget [Tags Cloud Widget]-->
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
<!-- Newsletter Section-->
    <section class="newsletter no-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}
